.heading {
	color: #0a9396;
	font-family: Courier New;
	text-align: center;
	font-style: italic;
}

.heading p {
	font-style: italic;
	color: #ee9b00;
	font-weight: 600;
}

.columns {
	color: #ee9b00;
	font-family: Georgia;
}

.columns h3 {
	font-style: italic;
}

.alpha {
	width: 300px;
	float: left;
	border: 2px solid #ee9b00;
	padding: 4px;
	margin: 4px;
}

.alpha h3 {
	color: #0a9396;
}

.alpha p {
	color: #0a9396;
}

.beta {
	width: 300px;
	float: left;
	border: 2px solid #0a9396;
	padding: 4px;
	margin: 4px;
}

.charlie {
	width: 300px;
	float: left;
	border: 2px solid #ee9b00;
	padding: 4px;
	margin: 4px;
}

.charlie h3 {
	color: #0a9396;
}

.charlie p {
	color: #0a9396;
}

.delta {
	width: 300px;
	float: left;
	border: 2px solid #0a9396;
	padding: 4px;
	margin: 4px;
}

.echo {
	width: 300px;
	float: left;
	border: 2px solid #ee9b00;
	padding: 4px;
	margin: 4px;
}

.echo h3{
	color: #0a9396;
}

.echo p {
	color: #0a9396;
}

body {
	background-color: #001219;
}

img {
	width: 300px;
	height: auto;
}