.heading {
	color: #ae2012;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.columns {
	color: #ee9b00;
	font-family: Helvetica;
}

.alpha {
	width: 300px;
	float: left;
}

.beta {
	width: 300px;
	float: left;
}

.charlie {
	width: 300px;
	float: left;
}

.delta {
	width: 300px;
	float: left;
}

.echo {
	width: 300px;
	float: left;
}

body {
	background-color: #001219;
}

img {
	width: 300px;
	height: auto;
}